<div class="shadow">
  <div class="card-info animate__animated animate__zoomIn" *ngIf="movieDetails" >
    <div class="title-genres " [ngStyle]="{'background-image': movieDetails.backdrop_path | background:'original'}">
      <div class="genres">
        <p *ngFor="let genres of movieDetails.genres">{{genres.name}}</p>
      </div>
      <h1>{{movieDetails.title}}</h1>
      <p [routerLink]="[closeRedirect]" class="close">X</p>
    </div>
    <div class="info">
      <div class="details">
        <p>Estreno: {{movieDetails.release_date}}</p>
        <p>Duracion: {{movieDetails.runtime | minutesToHours}}</p>
        <!-- <p>raiting</p> -->
      </div>
      <p class="overview">{{movieDetails.overview}}</p>
      <div class="slide-credits">
        <h3>Reparto</h3>
        <swiper-container
        space-between="3"
        navigation="true"
        [slidesPerGroup]="slidesPerView"
        [slidesPerView]="slidesPerView">
          <swiper-slide *ngFor="let actor of cast">
            <img class="img-slide" *ngIf="actor.profile_path != null" [src]="['https://image.tmdb.org/t/p/w500/' + actor.profile_path]" alt="">
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>
